*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color_darkGreen: rgb(115, 135, 123);
$color_green: rgb(131, 151, 136);
$color_silver: rgb(189, 187, 182);
$color_purple: rgb(229, 209, 208);
$color_cream: rgb(245, 228, 215);

.container{
  min-height: 100vh;
}
body {
  font-family: 'Arial', sans-serif;
  background-color: whitesmoke;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  border: 1px solid $color_silver;
}

h1 {
  text-align: center;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.backButton{
  display: inline-block;
  color: white;
  background-color: #62b0cf;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.3rem 1rem;
  transition: all 0.15s ease-in;
  &:hover{
    background-color: #1e94c2;
    border:none;
    color: whitesmoke;
  }
}

.deleteButton{
  border: none;
  display: inline-block;
  color: $color_cream;
  background-color: #D74C4C;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.3rem 1rem;
  transition: all 0.15s ease-in;
  &:hover{
    background-color: #AF2727;
    border:none;
    color: $color_cream;
  }
}

.saveButton{
  border: none;
  width: 200px;
  color: $color_cream;
  background-color: $color_green;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.3rem 1rem;
  transition: all 0.15s ease-in;
  margin-bottom: 1rem;
  &:hover{
    background-color: $color_darkGreen;
    border:none;
    color: $color_cream;
  }
}

.updateBtnHolder{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.saveBtnHolder{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem 0;
}