$color_darkGreen: rgb(115, 135, 123);
$color_green: rgb(131, 151, 136);
$color_silver: rgb(189, 187, 182);
$color_purple: rgb(229, 209, 208);
$color_cream: rgb(245, 228, 215);
$color_purpleHover:rgb(191, 170, 169);

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// .heroSection{
//   position: relative;
//   background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("https://cdn.pixabay.com/photo/2016/09/12/08/22/breakfast-1663295_1280.jpg");
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-attachment: fixed;
//   height: 80vh;
//   color: white;
//   cursor: default;
// }

.heroImgContainer{
  width: 100%;
  height: 80vh;
}

.heroImg{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(40%);

}

.heroContent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:$color_cream;
  text-align: center;
  max-width: 80%;
}

.heroTitle{
  font-weight: 700;
  font-size: 9rem;
  color: $color_cream;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

.registerText{
  display: block;
  margin-top: 5rem;
}

.heroBtn{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid $color_green;
  font-size: 18px;
  font-weight: 700;
  color: $color_cream;
  transition: all 0.25s ease-in;
  padding: 0.2rem 0.6rem;
  border-radius: 10px;
  &:hover{
    background-color: $color_darkGreen;
    color: $color_cream;
    border: none;
  }
}

.loginBtnHolder{
  display: flex;
  justify-content: center;
  align-items: center;
}

// LOGIN HERO SECTION
.loginHeroSection{
  display: flex;
  align-items: center;
}

.welcomeText{
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
  margin-right: 1rem;
}

.welcomeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroLoginProfilePic{
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  border: 2px $color_cream solid;
}

.displayFoodImg{
  display: block

}

body{
  background-color: whitesmoke;
}

.purpleLogo{
  position: absolute;
  bottom: -100px;
  rotate: 30deg;
  left: 50px;
  width: 300px;
}

.tImgHolder{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
}

.tProfilePic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.testimonialSection{
  margin: 0 auto;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
}

.tText{
  display: flex;
}

.testimonial{
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 2rem 0.5rem;
}

.testimonialProfile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 1rem;
}

// FOOD DISPLAY SECTION

.foodCardsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.foodDisplayCards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.foodDisplayCard{
  width: 300px;

  &>h2{
    margin: 0;
  }
}

.foodDisplayImg{
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 300px;
  object-position: center;
}

.bi-star-fill{
  filter: drop-shadow(0 0 2px rgb(255,193,7));
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    filter: drop-shadow(0 0 2px rgb(255,193,7));
  }
  50% {
    filter: drop-shadow(0 0 5px rgb(255,193,7));
  }
  100% {
    filter: drop-shadow(0 0 2px rgb(255,193,7));
  }
}

.mealButton{
  display: block;
  color: white;
  background-color: #62b0cf;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.15s ease-in;
  margin-bottom: 1rem;
  &:hover{
    background-color:#1e94c2;
    border:none;
    color: whitesmoke;
  }
}

.mealButtonHolder{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

// MEDIA QUERY

@media only screen and (max-width: 980px) {
  .foodDisplayCards{ grid-template-columns: repeat(2, 1fr);}
}

@media only screen and (max-width: 650px) {
  .foodDisplayCards{ grid-template-columns: 1fr;}
}