$color_darkGreen: rgb(115, 135, 123);
$color_green: rgb(131, 151, 136);
$color_silver: rgb(189, 187, 182);
$color_purple: rgb(229, 209, 208);
$color_cream: rgb(245, 228, 215);
$color_purpleHover:rgb(191, 170, 169);

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heroSection{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("https://cdn.pixabay.com/photo/2016/09/12/08/22/breakfast-1663295_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 80vh;
  color: white;
  cursor: default;
}

.heroContent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:$color_cream;
}

.heroTitle{
  font-weight: 700;
  font-size: 4rem;
  color: $color_cream;
}

.registerText{
  display: block;
  margin-top: 5rem;
}

.heroBtn{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid $color_green;
  font-size: 18px;
  font-weight: 700;
  color: $color_cream;
  transition: all 0.25s ease-in;
  padding: 0.2rem 0.6rem;
  border-radius: 10px;
  &:hover{
    background-color: $color_darkGreen;
    color: $color_cream;
    border: none;
  }
}

.loginBtnHolder{
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  background-color: $color_cream;
}
