extends 'base.html.twig' %}

{% block title %}About
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("CSS/aboutCSS/style.css")}}">
{% endblock %}

{% block body %}
	<h1 class="mainTitle">About</h1>
	<div class="container">
		<div class="aboutContent">
			<p>
A well-thought-out meal plan is the key to a balanced diet and a healthy lifestyle. In this meal planner, you'll find not only a structured overview of your meals but also a variety of delicious recipes to help you achieve your nutritional goals.</p>
			<p>Weekly Overview:
Start each week with a clear overview of your meals. The meal planner provides space for breakfast, lunch, dinner, and snacks. Planning ahead ensures that you consider all the necessary nutrients in your diet.</p>
			<p>Healthy Recipes:
The meal planner includes a diverse selection of healthy and tasty recipes. From protein-rich meals to vitamin-packed snacks, you'll find inspiration for every meal. Each recipe is easy to follow and includes clear instructions and a detailed list of required ingredients.</p>
		</div>
	</div>
	<h1 class="mainTitle">Our teams</h1>
	<div class="teamCardsHolder container">
		<div class="teamCards">
			<div class="teamCard">
				<div class="teamImgHolder"><img src="https://cdn.pixabay.com/photo/2017/08/01/01/33/beanie-2562646_1280.jpg" alt="" class="teamImg"></div>
				<div class="teamCardContent">
					<h2>Ryan Mitchell</h2>
					<p class="text-muted">CEO</p>
					<hr>
					<p>Meet Ryan Mitchell, the visionary CEO of our food planner website. As the driving force behind our mission, Ryan ensures that our platform delivers unparalleled value to users. With a keen eye for innovation, he leads the team in creating a seamless and enriching experience for food enthusiasts.</p>
					<hr>
					<p>ryan.mitchell@foodplannerwebsite.com </p>
					<hr>
					<a class="contactBtn" href="">Contact</a>
				</div>
			</div>
			<div class="teamCard">
				<div class="teamImgHolder"><img src="https://cdn.pixabay.com/photo/2016/11/29/13/14/attractive-1869761_1280.jpg" alt="" class="teamImg"></div>
				<div class="teamCardContent">
					<h2>Emma Thompson</h2>
					<p class="text-muted">Manager</p>
					<hr>
					<p>Emma Thompson, our dedicated Manager, orchestrates the daily operations of our food planner platform. With a passion for organization and efficiency, Emma oversees the coordination of tasks, making sure our users enjoy a smooth and satisfying journey.</p>
					<hr>
					<p>emma.thompson@foodplannerwebsite.com</p>
					<hr>
					<a class="contactBtn" href="">Contact</a>
				</div>
			</div>
			<div class="teamCard">
				<div class="teamImgHolder"><img src="https://cdn.pixabay.com/photo/2017/08/10/19/25/girl-2626753_1280.jpg" alt="" class="teamImg"></div>
				<div class="teamCardContent">
					<h2> Olivia Rodriguez</h2>
					<p class="text-muted">Chief director</p>
					<hr>
					<p>Olivia Rodriguez, our esteemed Chief Director, brings a wealth of experience to the table. Her strategic vision and commitment to excellence guide the evolution of our food planner website. Olivia ensures that every aspect of our platform aligns with the highest standards.</p>
					<hr>
					<p>
						<b></b>olivia.rodriguez@foodplannerwebsite.com </p>
					<hr>
					<a class="contactBtn" href="">Contact</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
