{% extends 'base.html.twig' %}

{% block title %}About
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("CSS/aboutCSS/style.css")}}">
{% endblock %}

{% block body %}
	<h1 class="mainTitle">About:</h1>
	<div></div>
{% endblock %}
