{% extends 'base.html.twig' %}

{% block title %}About
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("CSS/aboutCSS/style.css")}}">
{% endblock %}

{% block body %}
	<h1 class="mainTitle">About:</h1>
	<div class="container">
		<div class="aboutContent">
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam similique consequuntur consectetur saepe, cum laudantium accusantium itaque cupiditate nulla veritatis! Atque nisi dolorum suscipit deleniti magni cupiditate repudiandae excepturi tempora!</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vitae deserunt at, asperiores necessitatibus tenetur tempora modi eius perspiciatis doloribus.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore autem earum eligendi minima sed voluptas necessitatibus molestias, illo veritatis cumque totam quos voluptatibus nisi aut maiores fuga consequuntur. Ipsam exercitationem, tempora nemo velit expedita pariatur. Esse quia repellat ad quibusdam? Possimus rem neque mollitia? Aperiam iusto similique odio voluptas reprehenderit.</p>
		</div>
	</div>
	<h1 class="mainTitle">Our teams:</h1>
	<div class="teamCardsHolder">
		<div class="teamCards">
			<div class="teamCard">
				<div class="teamCardContent">
					<h2>Team Member 1</h2>
					<p class="text-muted">CEO</p>
					<hr>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis unde tempore aspernatur rem deleniti ex nam aliquid nemo ipsam minima.</p>
					<hr>
					<p>example@mail.com</p>
					<hr>
					<a class="contactBtn" href="">Contact</a>
				</div>
			</div>
			<div class="teamCard">
				<div class="teamCardContent">
					<h2>Team Member 2</h2>
					<p class="text-muted">Manager</p>
					<hr>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis unde tempore aspernatur rem deleniti ex nam aliquid nemo ipsam minima.</p>
					<hr>
					<p>example@mail.com</p>
					<hr>
					<a class="contactBtn" href="">Contact</a>
				</div>
			</div>
			<div class="teamCard">
				<div class="teamCardContent">
					<h2>Team Member 3</h2>
					<p class="text-muted">Chief director</p>
					<hr>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis unde tempore aspernatur rem deleniti ex nam aliquid nemo ipsam minima.</p>
					<hr>
					<p><b></b>example@mail.com</p>
					<hr>
					<a class="contactBtn" href="">Contact</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
