{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("CSS/contactCSS/style.css")}}">
{% endblock %}

{% block body %}
	<div class="mainContainer">
		<h1 class="mainTitle">Contact us:</h1>
		<div class="container">
			<form action="">

				<label class="form-label" for="fname">First Name:</label>
				<input class="form-control" type="text" id="fname" name="firstname" placeholder="Please enter your last name">

				<label class="form-label" for=" lname">Last Name:</label>
				<input class="form-control" type="text" id="lname" name="lastname" placeholder="Please enter your last name">

				<label class="form-label" for=" email">E-mail address:</label>
				<input class="form-control" type="text" id="email" name="email" placeholder="Please enter your e-mail">

				<label class="form-label" for=" subject">Message:</label>
				<textarea class="form-control" id="subject" name="subject" placeholder="Please write your message" style="height:100px"></textarea>

				<div class="submitBtnHolder">
					<input class="submitBtn" type="submit" value="Submit">
				</div>

			</form>
		</div>
	</div>
{% endblock %}

{# Email: group.project.planner@gmail.com #}
{# Pass: Meal!Project2 #}
{# If you want to login just write me on slack and I will send you the verification code, 2-Step Verification is turned on. #}
