{% extends 'base.html.twig' %}

{% block title %}Welcome home!
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("CSS/homeCSS/style.css")}}">
{% endblock %}

{% block body %}
	<div class="mainContainer">

		<div class="heroSection">
			<div class="heroImgContainer">
				<img class="heroImg" src="{{asset("images/heroImg.jpg")}}" alt="Image of food">
			</div>
			<div class="heroContent">
				<h1 class="heroTitle">Meal time</h1>
				<p>plan your next meal with meal time right now</p>
				<div class="loginBtnHolder">
					<a class="loginBtn heroBtn" href="/login">Log in</a>
				</div>
				<span class="registerText">Don't have an account?
					<a class="heroBtn" href="/register">Sign up</a>
				</span>
			</div>
		</div>
		<img class="purpleLogo" src="{{asset("images/foodPurple.png")}}" alt="logo image">
		<div class="testimonialSection">
		<div class="tImgHolder">
			<img src="https://cdn.pixabay.com/photo/2016/11/23/00/57/adult-1851571_1280.jpg" class="tProfilePic">
		</div>
		<div class="testimonial">
		<p class="tText">I have been using Meal Time for the past few months and I can honestly say that it has changed my life. Not only has it helped me to plan my meals efficiently, but I am also much healthier now. The food I have been eating has been both healthy and absolutely delicious. I am so thankful for Meal Time as I have gotten fit thanks to this web app. Highly recommend!</p>
		</div>
		<div class="tImgHolder">
			<img src="https://cdn.pixabay.com/photo/2016/11/23/00/57/adult-1851571_1280.jpg" class="tProfilePic">
		</div>
		<div class="testimonial">
		<p class="tText">I have been using Meal Time for the past few months and I can honestly say that it has changed my life. Not only has it helped me to plan my meals efficiently, but I am also much healthier now. The food I have been eating has been both healthy and absolutely delicious. I am so thankful for Meal Time as I have gotten fit thanks to this web app. Highly recommend!</p>
		</div>
		<div class="tImgHolder">
			<img src="https://cdn.pixabay.com/photo/2016/11/23/00/57/adult-1851571_1280.jpg" class="tProfilePic">
		</div>
		<div class="testimonial">
		<p class="tText">I have been using Meal Time for the past few months and I can honestly say that it has changed my life. Not only has it helped me to plan my meals efficiently, but I am also much healthier now. The food I have been eating has been both healthy and absolutely delicious. I am so thankful for Meal Time as I have gotten fit thanks to this web app. Highly recommend!</p>
		</div>
		</div>

	</div>

{% endblock %}
