{% extends 'base.html.twig' %}

{% block title %}Welcome home!
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("CSS/homeCSS/style.css")}}">
{% endblock %}

{% block body %}
	<div class="mainContainer">
		<div class="heroSection">
			<div class="heroContent">
				<h1 class="heroTitle">Meal time</h1>
				<p>plan your meal with meal time right now</p>
				<a href="/login">Log in</a>
				<span>Don't have an account?
					<a href="/register">Sign up</a>
				</span>
			</div>
		</div>
	</div>
{% endblock %}
