*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color_darkGreen: rgb(115, 135, 123);
$color_green: rgb(131, 151, 136);
$color_silver: rgb(189, 187, 182);
$color_purple: rgb(229, 209, 208);
$color_cream: rgb(245, 228, 215);

.container{
  min-height: 100vh;
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid $color_silver;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

.mainTitleRegister{
  margin: 2rem 0;
  font-size: 4rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Dancing Script', cursive;
}

.signUpBtn{
  border: none;
  width: 150px;
  color: white;
  background-color: #62b0cf;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.3rem 2.5rem;
  transition: all 0.15s ease-in;
  margin-bottom: 1rem;
  &:hover{
    background-color: #1e94c2;
    border:none;
    color: whitesmoke;
  }
}

.signUpBtnHolder{
  display: flex;
  justify-content: center;
  align-items: center;
}