{# {% extends 'base.html.twig' %}

This section is not needed but is kept just in case 

{% block title %}New Planner{% endblock %}

{% block body %}
    <h1>Create new Planner</h1>

    {{ include('planner1/_plan.html.twig') }}

    <a href="{{ path('app_planner1_index') }}">back to list</a>
{% endblock %} #}
