{% extends 'base.html.twig' %}

{% block title %}Update
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset("CSS/editadmCSS/style.css") }}">
{% endblock %}
{% block body %}
	<div class="container">
		<h1 class="mainTitle">Update Profile</h1>

		{{ include('admin/UsersDashboard/_form.html.twig', {'button_label': 'Update profile'}) }}

		<div class="updateBtnHolder">
			{{ include('admin/UsersDashboard/_delete_form.html.twig') }}
			<a class="backButton" href="{{ path('app_admin_index') }}">Back to list</a>
		</div>
	</div>
{% endblock %}
