
.container1{
    display: flex;
    justify-content: center;
}

.form1{
    font-family: poppins;
    width:60%; 
    padding: 15px 35px 45px;
    border-radius: 10px;
    margin: 20px 0;
    background-color: rgb(224, 240, 107);
    filter: drop-shadow(10px 10px 0 rgb(189, 187, 182));
}