<link rel="stylesheet" href="{{asset("CSS/mealShowCSS/style.css")}}">

<a href="{{ path('app_meal_delete', {'id': meal.id}) }}">
	<button class="deleteButton">
		<i class="fa-solid fa-trash-can"></i>
		Delete</button>
	</a>
