{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("CSS/editMealCSS/style.css")}}">
{% endblock %}

{% block title %}Edit Meal
{% endblock %}

{% block body %}
	<div class="container1">
		<div class="form1">
			<h1 class="text-center">Edit Meal</h1>

			{{ include('meal/_form.html.twig', {'button_label': 'Save changes'}) }}

			<div class="editBtnHolder">
				{{ include('meal/_delete_form.html.twig') }}
				<a class="backButton" href="{{ path('app_meal_index') }}">Back to list</a>
			</div>

		</div>
	</div>
{% endblock %}
