{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset("CSS/createCSS/style.css")}}">
{% endblock %}


{% block title %}New Meal{% endblock %}

{% block body %}
<div class="container1">
  <div class="form1" style="width:60%">
    <h1 class="text-center">Create new meal</h1>

    {{ include('meal/_form.html.twig') }}

    <a class="btn btn-primary mt-1" href="{{ path('app_meal_index') }}">Back to list</a>
  </div>
</div>
{% endblock %}
