<link rel="stylesheet" href="{{asset("CSS/navbarCSS/style.css")}}">

<nav>
	<div class="imgHolder">
		<a class="logoImg" href="/">
			<i class="fa-solid fa-bowl-food"></i>
			MEAL TIME
		</a>
	</div>
	<div>
		<ul class="navLinks">
			<li>
				<a class="navLink" href="/">Home</a>
			</li>
			<li>
				<a class="navLink" href="">Meals</a>
			</li>
			<li>
				<a class="navLink" href="">About</a>
			</li>
			<li>
				<a class="navLink" href="">Contact</a>
			</li>
		</ul>
	</div>
	<div class="menuBtn" id="menuBtn">
		<span id="openMenuBtn">
			<i class="bi bi-list"></i>
		</span>
		<span id="closeMenuBtn">
			<i class="bi bi-x-lg"></i>
		</span>
	</div>
</nav>

<script>
	const openMenuBtn = document.getElementById("openMenuBtn");
const closeMenuBtn = document.getElementById("closeMenuBtn");
const navLinks = document.querySelector(".navLinks");
const navLink = document.getElementById("navLink");
const menuBtn = document.getElementById("menuBtn");

menuBtn.addEventListener("click", () => {
if (navLinks.classList.contains("showMenu")) {
navLinks.classList.remove("showMenu")
closeMenuBtn.style.display = "none"
openMenuBtn.style.display = "block"
} else {
navLinks.classList.add("showMenu")
closeMenuBtn.style.display = "block"
openMenuBtn.style.display = "none"
}
});
</script>
