<link rel="stylesheet" href="{{asset("CSS/navbarCSS/style.css")}}">
<nav>
	<div class="imgHolder">
		<img class="logoImg" src="https://cdn.pixabay.com/photo/2016/06/09/18/36/logo-1446293_1280.png" alt="">
	</div>
	<div class="navLinks">
		<ul>
			<li><a href="/meal">Home</a></li>
			<li><a href="">Meals</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Contact</a></li>
		</ul>
	</div>
</nav>
