<link rel="stylesheet" href="{{asset("CSS/navbarCSS/style.css")}}">

<nav>
	<div class="imgHolder">
		<a class="logoImg" href="/">
			<i class="fa-solid fa-bowl-food"></i>
			MEAL TIME
		</a>
	</div>
	<div>
		<ul class="navLinks">
			<li>
				<a class="navLink" href="/">Home</a>
			</li>
			<li>
				<a class="navLink" href="">Meals</a>
			</li>
			<li>
				<a class="navLink" href="">About</a>
			</li>
			<li>
				<a class="navLink" href="">Contact</a>
			</li>
		</ul>
	</div>
	<div class="menuBtn" id="menuBtn">
		<span id="openMenuBtn">
			<i class="bi bi-list"></i>
		</span>
		<span id="closeMenuBtn">
			<i class="bi bi-x-lg"></i>
		</span>
	</div>
</nav>

<script>
	const openMenuBtn = document.getElementById("openMenuBtn");
const closeMenuBtn = document.getElementById("closeMenuBtn");
const navLinks = document.querySelector(".navLinks");
const navLink = document.querySelectorAll(".navLink");
const menuBtn = document.getElementById("menuBtn");

function toggleMenu() {
if (navLinks.classList.contains("showMenu")) {
navLinks.classList.remove("showMenu")
closeMenuBtn.style.display = "none"
openMenuBtn.style.display = "block"
document.body.style.overflow = "visible"
} else {
navLinks.classList.add("showMenu")
closeMenuBtn.style.display = "block"
openMenuBtn.style.display = "none"
document.body.style.overflow = "hidden"
}
}

menuBtn.addEventListener("click", toggleMenu)
navLink.forEach(function (link) {
link.addEventListener("click", toggleMenu)
})
</script>

{#
menuBtn.addEventListener("click", () => {
if (navLinks.classList.contains("showMenu")) {
navLinks.classList.remove("showMenu")
closeMenuBtn.style.display = "none"
openMenuBtn.style.display = "block"
document.body.style.overflow = "visible"
} else {
navLinks.classList.add("showMenu")
closeMenuBtn.style.display = "block"
openMenuBtn.style.display = "none"
document.body.style.overflow = "hidden"
}
});

navLink.forEach(function (link) {
link.addEventListener("click", () => {
if (navLinks.classList.contains("showMenu")) {
navLinks.classList.remove("showMenu")
closeMenuBtn.style.display = "none"
openMenuBtn.style.display = "block"
document.body.style.overflow = "visible"
} else {
navLinks.classList.add("showMenu")
closeMenuBtn.style.display = "block"
openMenuBtn.style.display = "none"
document.body.style.overflow = "hidden"
}
})
})
#}
