$color_darkGreen: rgb(115, 135, 123);
$color_green: rgb(131, 151, 136);
$color_silver: rgb(189, 187, 182);
$color_purple: rgb(229, 209, 208);
$color_cream: rgb(245, 228, 215);
$color_purpleHover:rgb(191, 170, 169);


*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.teamCards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem; 
  margin: 0 1rem;
}

.teamCardsHolder{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.teamCard{
  border-radius: 20px;
  border: 1px solid $color_silver;
  transition: all ease-in 0.15s;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
  &:hover{
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4);
}
}

.teamCardContent{
  margin: 1rem;
}

.contactBtn{
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 700;
  background-color: $color_purple;
  padding: 0.5rem 0;
  border-radius: 10px;
  transition: all 0.25s ease-in;

  &:hover{
    color: black;
    background-color: $color_purpleHover;
  }

}

.teamImgHolder{
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.teamImg{
  width: 100%;
}

@media only screen and (max-width: 1050px) {
  .teamCards{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  .teamCards{grid-template-columns: 1fr}
}