$color_darkGreen: rgb(115, 135, 123);
$color_green: rgb(131, 151, 136);
$color_silver: rgb(189, 187, 182);
$color_purple: rgb(229, 209, 208);
$color_cream: rgb(245, 228, 215);


*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.teamCards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 0 1rem;
}

.teamCardsHolder{
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamCard{
  border: 1px solid $color_silver;
}

.teamCardContent{
  margin: 1rem;
}

.contactBtn{
  border-radius: 10px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 700;
  background-color: $color_purple;
  padding: 0.5rem 0;
  transition: all 0.25s ease-in;

  &:hover{
    background-color: $color_silver;
    color: $color_cream
  }
}

.teamImgHolder{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.teamImg{
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .teamCards{grid-template-columns: repeat(2, 1fr);}
}

@media only screen and (max-width: 600px) {
  .teamCards{grid-template-columns: 1fr;}
}